@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";

:root{
  --color-white: #ffffff; /*variavel para reutilizar cor em css nomeada de "--color-green"*/
  --color-rocket: #7159c1; /*cor da rocketseat*/
}

*{
  margin:0;
  padding: 0;
  border: none;
}

body{
  background: var(--color-rocket);
  font-family: 'Roboto', sans-serif;
}
header{
  background: var(--color-white);
  width: 100%;
  text-align: center;
  padding: 32px;
  box-sizing: border-box;
}

.links{
  font-size: 22px;  
}
.links a + a{
  margin-left: 32px;
}
.links a{
  text-decoration: none;
  color: #777777;
  position: relative;
}

.links a.active{
  font-weight: bold;
  color: var(--color-rocket);
}
.links a:hover{
  color: var(--color-rocket);
}
.links a::after{
  content: "";
  width: 00%;
  height: 2px;
  background-color: var(--color-rocket);
  position: absolute;
  left: 0;
  bottom: -4px;
}
.links a:hover::after{
  width: 100%;
  transition: width 400ms ease-in-out;
}

/* === CARD ===*/
.card{
  min-height: 400px;
  width: 800px;
  background-color: white;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 10px 10px 20px #644f79;

  /* animation */
  animation: up 200ms ease-out;
}

/* === DETALHES === */
.details{
  padding: 20px;
}
.details .item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px 0;
}
.details .item:last-child{
  border: none;
}
.details .item  div:nth-child(1){
  font-size: 14px;
  color: #777;
  line-height: 24px;
  letter-spacing: 0.7px;
  font-weight: normal;
}
.details .item div:nth-child(2){
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

/* ==ANIMATION == */
@keyframes up{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
  }
}